main {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 64rem;
margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table thead {
  padding: 1.25rem;
}

tbody {
  text-align: center;
  width: 100%;
  color: black;
  background-color: white;
}

button {
  height: 2.125rem;
  margin: .3125rem;
  padding: .3125rem;
  border-radius: .1875rem;
  text-align: center;
  cursor: pointer;
}

img {
  height: 1.125rem;
}

button:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.newUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
}

input {
  margin-left: 0.625rem;
}

.alert {
  color: red;
}